/*
 * Resource allocation configigurations.
 * Labels can be adjusted in the processes.nf.
 */

process {

  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
  memory = { check_max( 7.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }

  errorStrategy = 'retry'
  maxRetries = 5

  // Process-specific resource requirements
  // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors

  // Process-specific resource requirements
  withLabel: c1m1 {
    cpus = { check_max (1, 'cpus')}
    memory = { check_max( 1.GB * task.attempt, 'memory' ) }
  }
  withLabel: c1m2 {
    cpus = { check_max (1, 'cpus')}
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
  }
  withLabel: c1m4 {
    cpus = { check_max (1, 'cpus')}
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
  }
  withLabel: c1m8 {
    cpus = { check_max (1, 'cpus')}
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }  
  withLabel: c1m16 {
    cpus = { check_max (1, 'cpus')}
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  }
  withLabel: c2m1 {
    cpus = { check_max (2, 'cpus')}
    memory = { check_max( 1.GB * task.attempt, 'memory' ) }
  }
  withLabel: c2m2 {
    cpus = { check_max (2, 'cpus')}
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
  }
  withLabel: c2m4 {
    cpus = { check_max (2, 'cpus')}
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
  }
  withLabel: c2m8 {
    cpus = { check_max (2, 'cpus')}
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  }
  withLabel: c2m16 {
    cpus = { check_max (2, 'cpus')}
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  }
  withLabel: c4m1 {
    cpus = { check_max (4, 'cpus')}
    memory = { check_max( 1.GB * task.attempt, 'memory' ) }
  }
  withLabel: c4m2 {
    cpus = { check_max (4, 'cpus')}
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
  }
  withLabel: c4m4 {
    cpus = { check_max (4, 'cpus')}
    memory = { check_max( 4.GB * task.attempt, 'memory' ) }
  }
  withLabel: c4m16 {
    cpus = { check_max (4, 'cpus')}
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  }
  withLabel: c16m32 {
    cpus = { check_max (16, 'cpus')}
    memory = { check_max( 32.GB * task.attempt, 'memory' ) }
  }
  withLabel: c5m2 {
    cpus = { check_max (5, 'cpus')}
    memory = { check_max( 2.GB * task.attempt, 'memory' ) }
  }
  withLabel: c8m40 {
    cpus = { check_max (8, 'cpus')}
    memory = { check_max( 40.GB * task.attempt, 'memory' ) }
  }
  withLabel: c16m40 {
    cpus = { check_max (16, 'cpus')}
    memory = { check_max( 40.GB * task.attempt, 'memory' ) }
  }
  withLabel: c32m60 {
    cpus = { check_max (32, 'cpus')}
    memory = { check_max( 60.GB * task.attempt, 'memory' ) }
  }
}

