/*
 * -------------------------------------------------
 *  Configuration of specific genome resources
 * -------------------------------------------------
 * Map-based genome configuration compatible with Nextflow strict syntax
 * Genomes are selected via params.genome and resolved in main.nf using getGenomeAttribute()
 */

params {
    // Genome profiles map - no if statements, pure data structure
    genomes {
        'GRCh38' {
            star_index                   = "s3://csgx.public.readonly/resources/references/Ensembl_Gencode_resources/STAR_2_7_11b/GRCh38.Ensembl109.GENCODEv44_with_pcLoF_without_readthrough/star/"
            gtf                          = "s3://csgx.public.readonly/resources/references/Ensembl_Gencode_resources/STAR_2_7_11b/GRCh38.Ensembl109.GENCODEv44_with_pcLoF_without_readthrough/genes/gencode.v44.primary_assembly.annotation.modified_seq_names.gene_subset.gtf"
            mitochondria_chromosome      = 'MT'
            mixed_species                = false
            hsap_mitochondria_chromosome = ""
            mmus_mitochondria_chromosome = ""
            hsap_gene_prefix             = ""
            mmus_gene_prefix             = ""
        }
        'GRCm39' {
            star_index                   = "s3://csgx.public.readonly/resources/references/Ensembl_Gencode_resources/STAR_2_7_11b/GRCm39.Ensembl110.GENCODEvM33_with_pcLoF_without_readthrough/star/"
            gtf                          = "s3://csgx.public.readonly/resources/references/Ensembl_Gencode_resources/STAR_2_7_11b/GRCm39.Ensembl110.GENCODEvM33_with_pcLoF_without_readthrough/genes/gencode.vM33.primary_assembly.annotation.modified_seq_names.gene_subset.gtf"
            mitochondria_chromosome      = 'MT'
            mixed_species                = false
            hsap_mitochondria_chromosome = ""
            mmus_mitochondria_chromosome = ""
            hsap_gene_prefix             = ""
            mmus_gene_prefix             = ""
        }
        'BDGP6' {
            star_index                   = "s3://csgx.public.readonly/resources/references/Ensembl_resources/STAR_2_7_11b/Drosophila_melanogaster.BDGP6.46/star/"
            gtf                          = 's3://csgx.public.readonly/resources/references/Ensembl_resources/STAR_2_7_11b/Drosophila_melanogaster.BDGP6.46/genes/Drosophila_melanogaster.BDGP6.46.112.gtf'
            mitochondria_chromosome      = 'mitochondrion_genome'
            mixed_species                = false
            hsap_mitochondria_chromosome = ""
            mmus_mitochondria_chromosome = ""
            hsap_gene_prefix             = ""
            mmus_gene_prefix             = ""
        }
        'Sscrofa11' {
            star_index                   = "s3://csgx.public.readonly/resources/references/Ensembl_resources/STAR_2_7_11b/Sus_scrofa_Sscrofa11.1/star/"
            gtf                          = 's3://csgx.public.readonly/resources/references/Ensembl_resources/STAR_2_7_11b/Sus_scrofa_Sscrofa11.1/genes/Sus_scrofa.Sscrofa11.1.112.gtf'
            mitochondria_chromosome      = 'MT'
            mixed_species                = false
            hsap_mitochondria_chromosome = ""
            mmus_mitochondria_chromosome = ""
            hsap_gene_prefix             = ""
            mmus_gene_prefix             = ""
        }
        'mouse_human_mix' {
            star_index                   = "s3://csgx.public.readonly/resources/references/Ensembl_Gencode_resources/STAR_2_7_11b/GRCh38.Ensembl109.GENCODEv44_GRCm39.Ensembl110.GENCODEvM33_with_pcLoF_without_readthrough/star/"
            gtf                          = "s3://csgx.public.readonly/resources/references/Ensembl_Gencode_resources/STAR_2_7_11b/GRCh38.Ensembl109.GENCODEv44_GRCm39.Ensembl110.GENCODEvM33_with_pcLoF_without_readthrough/genes/gencode.v44.vM33.primary_assembly.annotation.modified_seq_names.gene_subset.species_tagged.gtf"
            mitochondria_chromosome      = ""
            mixed_species                = true
            hsap_mitochondria_chromosome = 'GRCh38_MT'
            mmus_mitochondria_chromosome = 'GRCm39_MT'
            hsap_gene_prefix             = 'GRCh38_'
            mmus_gene_prefix             = 'GRCm39_'
        }
        'GRCz11' {
            star_index                   = "s3://csgx.public.readonly/resources/references/Ensembl_resources/STAR_2_7_11b/Danio_rerio.GRCz11/star/"
            gtf                          = 's3://csgx.public.readonly/resources/references/Ensembl_resources/STAR_2_7_11b/Danio_rerio.GRCz11/genes/Danio_rerio.GRCz11.113.gene_subset.gtf'
            mitochondria_chromosome      = 'MT'
            mixed_species                = false
            hsap_mitochondria_chromosome = ""
            mmus_mitochondria_chromosome = ""
            hsap_gene_prefix             = ""
            mmus_gene_prefix             = ""
        }
    }
}