/*
 * -------------------------------------------------
 *  Configuration of specific genome resources
 * -------------------------------------------------
 */

 params{
    if (params.genome == "GRCh38"){
        star_index_dir = "s3://csgx.public.readonly/resources/references/Ensembl_Gencode_resources/GRCh38.Ensembl110.GENCODEv44/star/"
        gtf_path = "s3://csgx.public.readonly/resources/references/Ensembl_Gencode_resources/GRCh38.Ensembl110.GENCODEv44/genes/gencode.v44.primary_assembly.annotation.modified_seq_names.gene_subset.gtf"
        mitochondria_chromosome = 'MT'
        mixed_species = false
        hsap_mitochondria_chromosome = ""
        mmus_mitochondria_chromosome = ""
        hsap_gene_prefix = ""
        mmus_gene_prefix = ""
        purity = ""
    }else if (params.genome == "GRCm39"){
        star_index_dir = "s3://csgx.public.readonly/resources/references/Ensembl_Gencode_resources/GRCm39.Ensembl110.GENCODEvM33/star/"
        gtf_path = "s3://csgx.public.readonly/resources/references/Ensembl_Gencode_resources/GRCm39.Ensembl110.GENCODEvM33/genes/gencode.vM33.primary_assembly.annotation.modified_seq_names.gene_subset.gtf"
        mitochondria_chromosome = 'MT'
        mixed_species = false
        hsap_mitochondria_chromosome = ""
        mmus_mitochondria_chromosome = ""
        hsap_gene_prefix = ""
        mmus_gene_prefix = ""
        purity = ""
    }else if (params.genome == "BDGP6"){
        star_index_dir = "s3://csgx.public.readonly/resources/references/refdata-gex-Drosophila-BDGP6/star/"
        gtf_path = 's3://csgx.public.readonly/resources/references/refdata-gex-Drosophila-BDGP6/genes/Drosophila_melanogaster.BDGP6.32.109.gtf'
        mitochondria_chromosome = 'mitochondrion_genome'
        mixed_species = false
        hsap_mitochondria_chromosome = ""
        mmus_mitochondria_chromosome = ""
        hsap_gene_prefix = ""
        mmus_gene_prefix = ""
        purity = ""
    }else if (params.genome == "Sscrofa11"){
        star_index_dir = "s3://csgx.public.readonly/resources/references/Sus_scrofa_Sscrofa11.1/star/"
        gtf_path = 's3://csgx.public.readonly/resources/references/Sus_scrofa_Sscrofa11.1/genes/Sus_scrofa.Sscrofa11.1.109.gtf'
        mitochondria_chromosome = 'MT'
        mixed_species = false
        hsap_mitochondria_chromosome = ""
        mmus_mitochondria_chromosome = ""
        hsap_gene_prefix = ""
        mmus_gene_prefix = ""
        purity = ""
    }else if (params.genome == "mouse_human_mix"){
        star_index_dir = "s3://csgx.public.readonly/resources/references/Ensembl_Gencode_resources/GRCh38.Ensembl110.GENCODEv44_GRCm39.Ensembl110.GENCODEvM33/star/"
        gtf_path = "s3://csgx.public.readonly/resources/references/Ensembl_Gencode_resources/GRCh38.Ensembl110.GENCODEv44_GRCm39.Ensembl110.GENCODEvM33/genes/gencode.v44.vM33.primary_assembly.annotation.modified_seq_names.gene_subset.species_tagged.gtf"
        hsap_mitochondria_chromosome = 'GRCh38_MT'
        mmus_mitochondria_chromosome = 'GRCm39_MT'
        hsap_gene_prefix = 'GRCh38_'
        mmus_gene_prefix = 'GRCm39_'
        mixed_species = true
        purity = 0.9
        mitochondria_chromosome = ""
    }
 }