process {
    withName: download_star_index   { container = 'quay.io/csgenetics/aws_download:0.1' }
    withName: download_gtf          { container = 'quay.io/csgenetics/aws_download:0.1' }
    withName: download_input_csv    { container = 'quay.io/csgenetics/aws_download:0.1' }
    withName: download_barcode_list { container = 'quay.io/csgenetics/aws_download:0.1' }
    withName: download_public_fastq { container = 'quay.io/csgenetics/aws_download:0.1' }
    withName: features_file         { container = 'quay.io/biocontainers/gtfparse:1.2.1--pyh864c0ab_0'}
    withName: merge_lanes           { container = 'ubuntu:bionic'}
    withName: merged_fastp          { container = 'quay.io/biocontainers/fastp:0.23.1--h79da9fb_0' }
    withName: io_extract            { container = 'quay.io/csgenetics/gawk:0.1' }
    withName: io_extract_fastp      { container = 'quay.io/biocontainers/fastp:0.23.1--h79da9fb_0' }
    withName: trim_extra_polya      { container = 'quay.io/csgenetics/gawk:0.1' }
    withName: post_polyA_fastp      { container = 'quay.io/biocontainers/fastp:0.23.1--h79da9fb_0' }
    withName: dedup                 { container = 'quay.io/csgenetics/umi-tools-csgx:0.9' }
    withName: io_count              { container = 'quay.io/biocontainers/samtools:1.17--hd87286a_1' }
    withName: star                  { container = 'quay.io/csgenetics/samtools_star:0.0.2' }
    withName: create_valid_empty_bam { container = 'quay.io/biocontainers/samtools:1.17--hd87286a_1' }
    withName: gtf2bed               { container = 'quay.io/csgenetics/gtf2bed:0.1' }
    withName: run_rseqc             { container = 'quay.io/biocontainers/rseqc:5.0.3--py39hf95cd2a_0' }
    withName: feature_counts        { container = 'quay.io/csgenetics/featurecount_samtools:0.2' }
    withName: sort_index_bam        { container = 'quay.io/biocontainers/samtools:1.17--hd87286a_1' }
    withName: single_sample_multiqc { container = 'quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0' }
    withName: multi_sample_multiqc  { container = 'quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0' }
    withName: count_matrix          { container = 'quay.io/csgenetics/scanpy_anndata:0.0.3' }
    withName: cell_caller           { container = 'quay.io/csgenetics/scanpy_anndata:0.0.3' }
    withName: filter_count_matrix   { container = 'quay.io/csgenetics/scanpy_anndata:0.0.3' }
    withName: summary_statistics	{ container = 'quay.io/csgenetics/scanpy_anndata:0.0.3' }
    withName: multi_sample_report   { container = 'quay.io/csgenetics/html_build:0.0.2' }
    withName: single_summary_report { container = 'quay.io/csgenetics/html_build:0.0.2' }
}

