process {
    withName: basespace           { container = 'public.ecr.aws/n1x9b6b5/basespace-cli:0.1' }
    withName: merge_lanes         { container = 'ubuntu:bionic'}
    withName: fastqc              { container = 'quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1' }
    withName: barcode             { container = 'quay.io/biocontainers/fastp:0.23.1--h79da9fb_0' }
    withName: io_whitelist        { container = 'public.ecr.aws/n1x9b6b5/umi-tools-csgx:0.3' }
    withName: io_extract          { container = 'public.ecr.aws/n1x9b6b5/umi-tools-csgx:0.3' }
    withName: fastp               { container = 'quay.io/biocontainers/fastp:0.23.1--h79da9fb_0' }
    withName: trim_extra_polya    { container = 'quay.io/biocontainers/scanpy:1.7.2--pyhdfd78af_0' }
    withName: group               { container = 'public.ecr.aws/n1x9b6b5/umi-tools-csgx:0.3' }
    withName: dedup               { container = 'public.ecr.aws/n1x9b6b5/umi-tools-csgx:0.3' }
    withName: io_count            { container = 'quay.io/biocontainers/samtools:1.14--hb421002_0' }
    withName: star                { container = 'quay.io/biocontainers/star:2.7.9a--h9ee0642_0' }
    withName: qualimap            { container = 'quay.io/biocontainers/qualimap:2.2.2d--hdfd78af_2' }
    withName: feature_counts      { container = 'quay.io/biocontainers/subread:2.0.1--h5bf99c6_1' }
    withName: sort_index_bam      { container = 'quay.io/biocontainers/samtools:1.14--hb421002_0' }
    withName: multiqc             { container = 'quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0' }
    withName: count_matrix        { container = 'quay.io/biocontainers/scanpy:1.7.2--pyhdfd78af_0' }
    withName: cell_caller         { container = 'quay.io/biocontainers/scanpy:1.7.2--pyhdfd78af_0' }
    withName: summary_report	  { container = 'public.ecr.aws/csgenetics/summary_report:0.0.1' }
}

docker {
    enabled = true
}
