process {
    withName: features_file         { container = 'quay.io/biocontainers/gtfparse:1.2.1--pyh864c0ab_0'}
    withName: merge_lanes           { container = 'ubuntu:bionic'}
    withName: merged_fastp          { container = 'quay.io/biocontainers/fastp:0.23.1--h79da9fb_0' }
    withName: io_extract            { container = 'quay.io/didillysquat/io_extract_awk:0.3' }
    withName: io_extract_fastp      { container = 'quay.io/biocontainers/fastp:0.23.1--h79da9fb_0' }
    withName: trim_extra_polya      { container = 'quay.io/biocontainers/scanpy:1.7.2--pyhdfd78af_0' }
    withName: post_polyA_fastp      { container = 'quay.io/biocontainers/fastp:0.23.1--h79da9fb_0' }
    withName: dedup                 { container = 'public.ecr.aws/n1x9b6b5/umi-tools-csgx:0.3' }
    withName: io_count              { container = 'quay.io/biocontainers/samtools:1.17--hd87286a_1' }
    withName: star                  { container = 'public.ecr.aws/csgenetics/samtools_star:0.0.1' }
    withName: create_valid_empty_bam { container = 'quay.io/biocontainers/samtools:1.17--hd87286a_1' }
    withName: raw_qualimap          { container = 'quay.io/biocontainers/qualimap:2.2.2d--hdfd78af_2' }
    withName: filter_umr_mismatch   { container = 'quay.io/biocontainers/samtools:1.17--hd87286a_1' }
    withName: filtered_qualimap     { container = 'quay.io/biocontainers/qualimap:2.2.2d--hdfd78af_2' }
    withName: feature_counts        { container = 'quay.io/biocontainers/subread:2.0.1--h5bf99c6_1' }
    withName: filter_for_annotated  { container = 'quay.io/biocontainers/samtools:1.17--hd87286a_1' }
    withName: annotated_qualimap    { container = 'quay.io/biocontainers/qualimap:2.2.2d--hdfd78af_2' }
    withName: sort_index_bam        { container = 'quay.io/biocontainers/samtools:1.17--hd87286a_1' }
    withName: multiqc               { container = 'quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0' }
    withName: count_matrix          { container = 'quay.io/biocontainers/scanpy:1.7.2--pyhdfd78af_0' }
    withName: cell_caller           { container = 'quay.io/biocontainers/scanpy:1.7.2--pyhdfd78af_0' }
    withName: filter_count_matrix   { container = 'quay.io/biocontainers/scanpy:1.7.2--pyhdfd78af_0' }
    withName: summary_statistics	{ container = 'quay.io/biocontainers/scanpy:1.7.2--pyhdfd78af_0' }
    withName: multi_sample_report   { container = 'public.ecr.aws/csgenetics/html_build:0.0.2' }
    withName: single_summary_report { container = 'public.ecr.aws/csgenetics/html_build:0.0.2' }
}

