/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run nf-core/scrnaseq -profile test
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Genome references
    outdir = './results_test'
    tracedir = "${params.outdir}/pipeline_info"
    star_index_dir = "s3://csgx.public.readonly/resources/test_profile_resources/star"
    gtf_path = "s3://csgx.public.readonly/resources/test_profile_resources/Homo_sapiens.GRCh38.103.gtf"
    whitelist_path = "s3://csgx.public.readonly/resources/whitelists/IDT_IO_kit_v1.csv"
    
    // Input data
    fastq = true
    fastq_path = "s3://csgx.public.readonly/resources/test_profile_resources/fastq"
}
