/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run nf-core/scrnaseq -profile test
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Genome references
    outdir = './results_test'
    tracedir = "${params.outdir}/pipeline_info"

    star_index_dir = "s3://csgx.public.readonly/resources/references/refdata-gex-GRCh38-and-mm10-2020-A/star"
    gtf_path = "s3://csgx.public.readonly/resources/references/refdata-gex-GRCh38-and-mm10-2020-A/genes/genes.gtf"
    whitelist_path = "s3://csgx.public.readonly/resources/whitelists/IDT_IO_kit_v1.csv"
    
    // Input data
    input_csv = 'input_csv/template.csv'
}
